  /* body {
    
    background-color: #f0f2f5;
     display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh;
    text-align: ;
}   */
.main {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
}

.main .facebook-logo img {
    width: 250px;
    height: 90px;
}

.main .container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 90%; /* Adjusted for responsiveness */
    max-width: 400px; /* Adjusted for responsiveness */
    margin: 0 auto; /* Centering container */
}

.login-form p {
    margin-top: 0;
    text-align: center;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-form button {
    width: 100%;
    padding: 15px;
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 15px;
    font-weight: 700;
}

.login-form button:hover {
    background-color: #166fe5;
}

.forgot-password {
    margin-top: 15px;
    text-align: center;
}

.forgot-password a {
    text-decoration: none;
    font-size: 15px;
    color: #1877f2;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.line {
    display: flex;
    justify-content: center; /* Center aligning */
    margin-top: 15px;
}

.arrow {
    background-color: #808080;
    height: 1px;
    width: 150px; /* Adjusted for responsiveness */
    margin: 0 5px; /* Adjusted for responsiveness */
}

.content {
    color: #808080;
    margin-top: -8px;
}

.submit button {
    width: 180px;
    padding: 15px;
    background: #0ebd02;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    border: none;
    margin-top: 20px;
}

.submit .create-account a {
    color: white;
    text-decoration: none;
}

.submit .create-account:hover {
    background: #0f9606;
}

@media only screen and (max-width: 600px) {
    .main .container {
        padding: 20px;
    }
}
